@import url("styles/nav_styles.css");

*{
    font-family: 'Michroma', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
body{
    background-color:#d2d0ce;
    overflow-x: hidden;
}
section{
    position:relative;
}
#sec1{
    /* background-image: url('downloads/Billeder/Mano despencer 13935702.jpg'); */
    /* display: flex;
    justify-content: center; */
    /* max-height: 140vh; */
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec1 img{
    width: 100vw;
    
}
#sec1 h1{
    position: fixed;
    font-size: 10vw;
    color: #ccc;
    
}

@media ((max-width: 767px)){
    #sec1 h1{
        position: absolute;

    }
}


#sec2{
    /* background:linear-gradient(#151515,#252525); */
    /* background-image: linear-gradient(#DDD,#DDD); */
    background-color: #d2d0ce;
    max-height: 140vh;
    height: 140vh;
}
#sec2 p{
    color: #777;
    font-size: 1.5rem;
    color: #333;
    width: 50%;
    float: right;
    position: absolute;
    max-width: 30%;
    display: inline;
    text-align: center;

}

#sec2_text1{
    top: 8%;
    right:10%;
    line-height:2.5rem;    
}
#sec2_text2{
    left: 10%;
    top: 50%;
}
#sec2_text3{
    right: 10%;
    bottom: 10%;
}

@media ((max-width: 767px)) {
    #sec2{
        /* background:linear-gradient(#151515,#252525); */
        /* background-image: linear-gradient(#DDD,#DDD); */
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    #sec2 .sec2_imgs{
        display: flex;

        width: 100%;

    }
    
    #sec2 .sec2_imgs img{
        width: 33.33%;
        animation: slide 3s cubic-bezier(0.33, 0.93, 0.84, 0.04) var(--d) infinite forwards;
    }
    @keyframes slide {
        0%{
            transform: translate(-300%);
        }
        
        100%{
            transform: translate(300%);
        }
    }
    #sec2 p{
        color: #777;
        font-size: 0.5rem;
        color: #333;
        width: 50%;
        position: unset;
        width: 70%;
        max-width: unset;
        display: inline;
        text-align: center;
        margin: 1rem;
    }

    
    #sec2_text1{
        top: 8%;
        right:10%;
        line-height:unset;    
    }
    #sec2_text2{
        left: 10%;
        top: 50%;
    }
    #sec2_text3{
        right: 10%;
        bottom: 10%;
    }
    
}

#sec3,#sec5,#sec7{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.sec3__img img,.sec5__img img,.sec7__img img{
    width: 100vw;
}
.sec3__text,.sec5__text,.sec7__text{
    position: absolute;
    text-align: center;
    width: 80%;
    font-size: 3vw;
    
    backdrop-filter:blur(3px);
    box-shadow: 0 0 20px #0002;

}
.sec3__text h3,.sec5__text h3,.sec7__text h3{
    font-size: fit-content;

}

.sec3__text p,.sec5__text p,.sec7__text p{
    font-size: fit-content;


}

#sec4,#sec6,#sec8{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
    background-image: linear-gradient(#222,#000,#222);
    padding:2.5rem ;
  }
  
  .sec4__img,.sec6__img,.sec8__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    border-radius: 20px;
    transition: scale 0.3s ease;
    transition-property: scale,box-shadow ;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .sec4__img:hover,.sec6__img:hover,.sec8__img:hover {
    scale: 1.2;
    box-shadow: 0 0 10px #000,0 0 20px #000;
    transition-property: scale,box-shadow ;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .sec4__item--1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
  
  }
  
   .sec4__item--2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    pointer-events: none;
  }
  .sec4__item--2 h3{
    color: #ddd;
    text-align: center;
  }

  .sec4__item--3 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 8;
      
    }
    
    .sec4__item--4 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start:2;
        grid-row-end: 7;
        
        /** Alternative Syntax **/
        /* grid-column: 5 / span 4;
        grid-row: 1 / span 5; */
        
    }

    .sec6__item--1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
      
      }
      
       .sec6__item--2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        pointer-events: none;

      }
      .sec6__item--2 h3{
        color: #ddd;
        text-align: center;
      }
    
      .sec6__item--3 {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row-start: 3;
          grid-row-end: 8;
          
        }
        
        .sec6__item--4 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start:2;
            grid-row-end: 7;
            
            /** Alternative Syntax **/
            /* grid-column: 5 / span 4;
            grid-row: 1 / span 5; */
            
        }

    .sec8__item--1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
      
      }
      
       .sec8__item--2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        pointer-events: none;

      }
      .sec8__item--2 h3{
        color: #ddd;
        text-align: center;
      }
    
      .sec8__item--3 {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row-start: 3;
          grid-row-end: 8;
          
        }
        
        .sec8__item--4 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start:2;
            grid-row-end: 7;
            
            /** Alternative Syntax **/
            /* grid-column: 5 / span 4;
            grid-row: 1 / span 5; */
            
        }
        
@media ((max-width: 767px)) {
    
    #sec4,#sec6,#sec8{
        grid-gap: 1.5rem 0.2rem;
    }
    .sec4__item--1,.sec6__item--1,.sec8__item--1{
        grid-column: 2 / span 3;
        grid-row: 3 / span 4;
    }
    .sec4__item--2,.sec6__item--2,.sec8__item--2{
        grid-column: 1 / span 8;
        grid-row: 1 / span 2;
    }
    .sec4__item--3,.sec6__item--3,.sec8__item--3{
        grid-column: 5/ span 3;
        grid-row: 4 / span 4;
    }
    .sec4__item--4,.sec6__item--4,.sec8__item--4{
        display: none;
    }
}

.last-page {
    text-align: center;
    margin: 50px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #555;
  }
  
  .social-icons a:hover {
    color: #3b5998; /* Facebook blue */
  }
  
  .social-icons a:last-child:hover {
    color: #c13584; /* Instagram pink */
  }
  